div{
    color: aqua;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

button{
    color: red;
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;

    
}